import React from 'react';
import Page from '~/hoc/page';

@Page({
  needLogin: true
})

class <%= locals[:name] %> extends React.Component {
  render() {
    return <div className="<%= locals[:name].downcase %>">
      <%= locals[:name] %>
      <%= render(:simple, {name: 'Hello world'})%>
    </div>
  }
}

export default <%= locals[:name] %>;